<template>
  <div class="home">
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap justify-center>
        <v-flex xs12 md6>
          <v-card outline flat color="transparent">
            <v-card-text>
              <v-text-field v-model="name" label="Enter a name"/>
              <v-btn @click="generateName" depressed color="primary">make appname</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <Random></Random>
  </div>
</template>

<script>
import Random from "@/components/Random";
import rand from "@rstacruz/startup-name-generator";
export default {
  name: "home",
  components: {
    Random
  },
  data() {
    return {
      name: ""
    };
  },

  methods: {
    generateName() {
      this.$store.commit("setRandomResult", rand(this.name));
    }
  }
};
</script>
